rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /revisiones/{docId} {
      allow create: if true;
      allow read: if true;
      allow update: if false;
      // Temporal: permitir delete para limpieza de datos erróneos
      allow delete: if true;
    }
  }
}
